@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Montserrat-Regular', sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat-Regular";
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/pizza\ img1.jpg);
    background-size: cover;
}

#loginForm{
    background-color: white;
    margin-top: 100px;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 10px 10px 0.12px black;
    border-radius: 30px;
    color: orangered;
}

#form-heading {
    font-size: medium;
    margin-top: 15px;
}

input{
    display: block;
    border: none;
    background-color: rgba(245, 245, 220, 0);
    padding: 20px;
    margin-top: 10px;
    width: 80%;
    box-shadow: 0px 0px 5px 0.10px black;
    border-radius: 30px;
}



#login-button {
   margin-top: 10px;
   margin-bottom: 10px;
   
}

button {
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0.10px black;
    color: white;
    background-color: green;
}



